@model SurfUPWeb.Models.UpdateSurfBoardViewModel

@{
}
<h1>Edit SurfBoard</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">ID</label>
        <input type="text" class="form-control" asp-for="ID" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price" step="0.01">
    </div>
     <div class="mb-3">
        <label for="" class="form-label">Type</label>
        <input type="text" class="form-control" asp-for="Type">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Width</label>
        <input type="number" class="form-control" asp-for="Width" step="0.01">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Length(Feet)</label>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
        <label for="" class="form-label">Length(Inches)</label>
        <br />
        <input type="number" asp-for="LengthFeet" step="1" >
        
        <input type="number" asp-for="LengthInch" step="1">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Thickness</label>
        <input type="number" class="form-control" asp-for="Thicc" step="0.01">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Volume</label>
        <input type="number" class="form-control" asp-for="Volume" step="0.01">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Exstra</label>
        <input type="text" class="form-control" asp-for="Exstra" >
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="SurfBoards">Delete</button>
</form>
